.my-banner {
    width: 100%;
    font-size: 200%;
    text-align: center;
    color: white;
    background-color: navy;
}

#user-nav {
    z-index: 999;
    margin-bottom: 2rem;
}

li:not(.dropdown-menu li) {
    padding-right: 15px;
}

.modal-pre-auth {
    display: block;
}

.modal-post-auth {
    display: none;
}

.nav-link-active {
    position: relative;
    color: tomato !important;
}

.nav-link-active::before {
    --size: 10px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 50%;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    background-color: tomato;
}

.nav-link-active:hover {
    color: tomato !important;
    opacity: .95;
}

.nav-link-active:active {
    transform: scale(.95);
}

.profile-image {
    --size: 2.8rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

#menu-cart {
    right: 2rem;
}

i {
    display: inline-block;
    margin-right: .4rem;
}


/* product styles */

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .counter span {
    --size: 2rem;
    display: grid;
    place-items: center;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: #eee;
} */

.counter button {
    --size: 2rem;
    border: none;
    background: #f8f8f8;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all 200ms ease-in-out;
}

.counter__minus:hover,
.counter__plus:hover {
    cursor: pointer;
    background-color: #dedede;
}

.counter__minus:active,
.counter__plus:active {
    transform: scale(.96);
}