.my-banner {
    width: 100%;
    font-size: 200%;
    text-align: center;
    color: white;
    background-color: navy;
}

li:not(.dropdown-menu li) {
    padding-right: 15px;
}

.modal-pre-auth {
    display: block;
}

.modal-post-auth {
    display: none;
}

.nav-link-active {
    position: relative;
    color: tomato !important;
}

.nav-link-active::before {
    --size: 10px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 50%;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    background-color: tomato;
}

.nav-link-active:hover {
    color: tomato !important;
    opacity: .95;
}

.nav-link-active:active {
    transform: scale(.95);
}