.my-banner {
    width: 100%;
    font-size: 200%;
    text-align: center;
    color: white;
    background-color: navy;
}

#user-nav {
    z-index: 999;
    margin-bottom: 2rem;
}

li:not(.dropdown-menu li) {
    padding-right: 15px;
}

.modal-pre-auth {
    display: block;
}

.modal-post-auth {
    display: none;
}

.nav-link-active {
    position: relative;
    color: tomato !important;
}

.nav-link-active::before {
    --size: 10px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 50%;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    background-color: tomato;
}

.nav-link-active:hover {
    color: tomato !important;
    opacity: .95;
}

.nav-link-active:active {
    transform: scale(.95);
}

.profile-image {
    --size: 2.8rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

#menu-cart {
    right: 2rem;
}

i {
    display: inline-block;
    margin-right: .4rem;
}


/* product styles */

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    object-fit: cover;
    height: 12rem;
}

.counter button {
    --size: 2rem;
    border: none;
    background: #f8f8f8;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all 200ms ease-in-out;
}

.counter__minus:hover,
.counter__plus:hover {
    cursor: pointer;
    background-color: #dedede;
}

.counter__minus:active,
.counter__plus:active {
    transform: scale(.96);
}


/* product details */

.product-detail .right-section * {
    text-align: right !important;
}

.product-detail .right-section li {
    padding-right: 0;
}

.detail__item {
    display: flex;
}

.detail__item p:first-child {
    width: 7rem;
}

.detail__item p:last-child {
    flex: 1;
}

.right-section .delete {
    position: relative;
    top: 4rem;
}

.review__item {
    padding: 0 !important;
    width: 70%;
}

.review__stars>i:hover {
    cursor: pointer !important;
}

.review__item__image {
    margin-right: .8rem !important;
}

.review__item__text {
    padding-left: 3rem !important;
}

.review__buttons button:first-child {
    margin-right: .5rem !important;
}


/* spinner */

.app__spinner {
    position: absolute;
    top: 3.5rem;
    left: 17rem;
    z-index: 999999;
}


/* dashboard styling */

.summary__value {
    --size: 4rem;
    width: var(--size);
    height: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
}